$max-width: 1920px;
$text-color: #ffff;
$background: linear-gradient(#0069e3, #0056ba);


$spider-man-616-height: 360px;
$mulher-aranha-65-height: 300px;
$spider-man-1610-height: 324px;
$sp-dr-14512-height: 324;
$spider-ham-8311-height:146px;
$spider-mam-90214-height: 376px;
$spider-mam-928-height: 360px;


